@model Ford_Hackhathon_YurtSistemi.Models.RoomList

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h4>RoomList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Floor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Floor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentOccupancy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentOccupancy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupancyRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupancyRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DormList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DormList.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-primary ">Back to List</a>
</div>
